#about {
    position: absolute;
    margin-top: 8rem;
}    

.about-container {
    margin-top: 20rem;
}

.about-title {
    font-family: 'Inter', sans-serif;
    color: var(--theme-text-color);
    font-size: 9rem;
    font-weight: 900;
}

.about-row {
    display: inline-flex;
    margin-top: 2rem;
}

.about-img {
    border-radius: 50px;
    box-shadow:
        0 0 10rem 0.1rem rgba(255, 255, 255, 0.111);
}


.about-col {
    margin-left: 5.625rem;
}

.about-name {
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    color: var(--theme-text-color);
    font-size: 8.2rem;
    font-weight: 900;
}


.about-aka {
    font-family: 'Inter', sans-serif;
    color: var(--theme-text-color);
    font-size: 3rem;
    font-weight: 600;
}

.about-developer {
    font-family: 'Inter', sans-serif;
    color: var(--theme-hint-color);
    font-size: 2rem;
    font-weight: 600;
}

.about-link-wrapper {
    margin-top: 0.25rem;
}



.about-link {
    display: inline-flex;
    padding-right: 0.625rem;
    font-family: 'Inter', sans-serif;
    color: var(--theme-hint-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}
.about-link img {
    padding-right: 0.3rem;
}

.about-link:hover{
    color: var(--theme-selected-color);
}