@import url(normalize.css);

@import url(index.css);
@import url(background.css);
@import url(header.css);
@import url(welcome.css);
@import url(about.css);
@import url(season.css);
@import url(scrollbar.css);
@import url(footer.css);