*::-webkit-scrollbar {
    width: 0.7rem;
}

  
*::-webkit-scrollbar-thumb {
    background-color: var(--theme-secondary-bg-color);
    border: 0.2px solid var(--theme-hint-color);
    border-radius: 2rem;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-hint-color);
}