.season-main-title {
    font-family: 'Inter', sans-serif;
    color: var(--theme-text-color);
    font-size: 8.2rem;
    font-weight: 900;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.season-container {
    padding-bottom: 15rem;
}

.season-title {
    font-family: 'Inter', sans-serif;
    color: var(--theme-text-color);
    font-size: 8.2rem;
    font-weight: 900;
}

.season-title-border {
    font-size: 5rem;
    font-weight: 800;
    color: var(--theme-hint-color);
}

.season-title-mini {
    font-size: 4rem;
    font-weight: 800;
    color: var(--theme-text-color);
}

.season-img {
    border-radius: 5rem;
    margin-top: 4rem;
    width: 80rem;
}